/* create a grid and fallback */
@mixin grid($col) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  & > * {
    // flex: 1 1 (((100 / $col) * 1%) - 5%);
  }

  display: grid;
  grid-template-columns: repeat($col, 1fr);
}

/* Copy the parent grid schema */
@mixin grid-inherit() {
  display: inherit;
  grid-template-columns: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
}

/* be as large as possible in container */
@mixin size-max() {
  height: auto;
  // width: 100%;
  flex: 1 1 100%;
  grid-column: 1/-1;
}

#master-grid {
  @include grid(12);
}
