.box-sizing {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

#download-page {
	.download-information {
		overflow: hidden;
		zoom: 1;
		aside {
			width: 20%;
			float: left;
			img {
				width: 100%;
				height: auto;
				margin-bottom: 1em;
			}
          .dlm-email-lock-email {
            width: 100%;
          }
          .dlm-email-lock-submit {
            width: 100%;
            background: #09c;
          }
		}
		article {
			width: 75%;
			float: right;

			h1 {
				margin: 0 0 1em;
			}
			td.name {
				font-weight: bold;
			}
			.toggle-previous-versions {
				margin-left: 1em;
			}
			.previous-versions {
				margin: .5em 0 0 0;
				padding: 0;
				border: 1px solid #ddd;
				border-bottom: 0;
				list-style: none outside;
				li {
					padding: .5em 1em;
					margin: 0;
					border-bottom: 1px solid #ddd;
				}
			}
		}
	}

	.download-monitor-orderby, .download-monitor-subcategories {
		list-style: none outside;
		overflow: hidden;
		zoom: 1;
		border: 1px solid #ddd;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		margin: 0 0 1em;
		padding: .5em 1em;

		li {
			float: left;
			list-style: none outside;
			margin: 0 1em 0 0;
			padding: 0;

			a.active {
				text-decoration: none;
				color: inherit;
			}
		}
	}

	ul.page-numbers {
		overflow: hidden;
		zoom: 1;
		margin: 0 auto;
		padding: 0;
		text-align: center;
		li {
			display: inline-block;
			margin: 0;
			list-style: none outside;
			line-height: 1em;
			a, span {
				text-decoration: none;
				border: 1px solid #ddd;
				-webkit-border-radius: 4px;
				border-radius: 4px;
				padding: 8px;
				display: block;
			}
			span {
				border-color: #eee;
			}
		}
	}

	.download-monitor-categories {
		overflow: hidden;
		zoom: 1;
	}

	.download_category {
		width: 48%;
		float: left;
		clear: left;

		&:nth-child(even) {
			float: right;
			clear: none;
		}
	}

	.download_group, #download-search {
		border: 1px solid #ddd;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		margin: 0 0 1.5em;
		box-shadow: 0 3px 1px rgba(0,0,0,0.04);

		&#download-search {
			padding: 1em;

			label, input[type=submit] {
				display: none;
			}
			input[type=text] {
				width: 100%;
				.box-sizing;
				margin: 0;
			}
		}

		&#download-page-featured {
			img {
				vertical-align: middle;
				width: 42px;
				height: 42px;
				margin: 0 1em 0 0;
			}
			ul {
				padding: 1em 1em 0;
				margin: 0;
				list-style: none outside;
				overflow: hidden;
				zoom: 1;

				li {
					width: 48%;
					float: left;
					margin: 0 0 1em;
					padding: 0;

					&:nth-child(even) {
						float: right;
					}
				}
			}
		}

		h3 {
			border-bottom: 1px solid #ddd;
			padding: .5em 1em;
			margin: 0;
			box-shadow: 0 3px 1px rgba(0,0,0,0.02)
		}
		ol {
			padding: 1em 1em .5em;
			margin: 0;
			list-style: decimal inside;
			li {
				margin: 0 0 .5em;
				padding: 0;
			}
		}

		.download_tags {
			padding: .5em 1em;
			text-align: center;
		}
	}
}