.btn {
  @include font-weight(500);

  color: $white;
  background-color: $brand-secondary;
  border: none;
  padding: ($base / 2) ($base / 1);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  cursor: pointer;
  // transition: 2s

  &:hover {
    background: $brand-primary;
    transition: 0.4s;
  }
}
