#tribe-events-pg-template {
  @include grid-inherit();
  @include size-content();

  padding-top: $base * 2;

  @media (min-width: map-get($map: $breakpoint, $key: "md")) {
    grid-column: 1/-1;
    grid-gap: $base * 2;
    padding: $base * 2;
  }

  #tribe-events {
    flex: 0 1 100%;
    grid-column: span 12;

    table {
      thead th {
        background: $brand-primary;
        border-color: $brand-primary;
      }

      td {
        border-color: #e0e0e0;

        div {
          background: none;
        }
      }

      td.tribe-events-present,
      .tribe-events-has-events::after {
        background: $brand-secondary;
      }

      td.mobile-active {
        background: $brand-alt;
      }
    }

    ul.tribe-events-sub-nav li a {
      background: $brand-primary;

      @media (min-width: map-get($map: $breakpoint, $key: "md")) {
        background: none;
      }
    }

    .tribe-events-button {
      background: $brand-secondary;
    }

    .tribe-events-notices {
      background: $white-o;
      border: none;
      text-align: center;
    }
  }
}
