//news feed for home page
.feed-news {
  @include grid-inherit();

  padding: ($base * 2) 0;
  background-color: $trans;

  h2,
  .feed-wrapper,
  .button-wrapper {
    @include size-content();
  }

  .button-wrapper {
    padding: ($base) 0;
  }

  h2 {
    color: $brand-secondary;
  }

  h2 a {
    color: $white;
    text-decoration: none;
  }

  div.feed-wrapper {
    @include grid-inherit();

    grid-gap: $base;

    article {
      grid-column: span 12;
      padding-bottom: $base;
      border-bottom: 1px solid transparentize($color: #fff, $amount: 0.9);
      margin-bottom: $base;

      &:last-of-type {
        border-bottom: 0;
        padding: 0;
      }

      .entry-summary a {
        text-transform: capitalize;
      }

      // &:last-of-type,
      // &:nth-last-of-type(2) {
      //   display: none;
      // }

      // @media (min-width: map-get($map: $breakpoint, $key: "md")) {
      //   &:last-of-type,
      //   &:nth-last-of-type(2) {
      //     display: block;
      //   }

      //   &:nth-of-type(2) {
      //     border-bottom: 1px solid transparentize($color: #fff, $amount: 0.9);
      //     padding-bottom: $base;
      //   }
      // }

      .entry-summary p {
        color: $white;
      }
    }
  }
}

//feed for partners footer part.
.feed-partners {
  z-index: 2;
  padding: ($base * 2) 0;

  @include size-max();
  @include grid-inherit();

  grid-row-start: 9;

  ul {
    @include size-content();

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    li {
      margin: $base;
      flex: 0 1 27%;
      text-align: center;

      @media (min-width: map-get($map: $breakpoint, $key: "md")) {
        margin: $base ($base / 2);
        flex: 1 0 15%;
      }

      a img {
        max-width: 150px;
      }
    }
  }
}
