// login form

.form-wrapper {
  @include size-content();

  display: flex;
  flex-direction: column;
  padding: ($base * 2) 0;
  text-align: center;

  header {
    h2 {
      margin-bottom: $base;
    }

    p {
      @include content-background();
    }
  }

  form#loginform-custom {
    margin-top: $base;
    padding: $base;

    p {
      margin: $base 0;
      display: flex;
      flex-direction: row;
      justify-content: center;

      input {
        margin-left: $base / 2;
        // justify-self: flex-end;
      }
    }

    p input.button {
      @extend .btn;
    }

    p.contact-textarea {
      display: flex;
      flex-direction: column;

      textarea {
        margin-top: $base;
        min-height: $base * 10;
      }
    }
  }

  // & > div {
  //   display: flex;
  //   flex-direction: column;
  // }

  form.wpcf7-form {
    max-width: 100%;
    margin-top: $base;
    padding: $base;
    display: flex;
    flex-direction: column;
    // align-content: center;

    label {
      margin: $base 0;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      input {
        // width: $base * 12;
      }
    }

    label[for="your-message"] {
      flex-direction: column;

      textarea {
        margin-top: $base;
      }
    }

    .wpcf7-form-control.wpcf7-submit {
      @extend .btn;
      // padding-left
      align-self: center;
      // max-width: 40%;
    }
  }
}
