/* create a grid and fallback */
@mixin grid-col($col) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat($col, 1fr);
}

/* Copy the parent grid schema */
@mixin grid-inherit() {
  display: inherit;
  grid-template-columns: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
}

/* be as large as possible in container */
@mixin size-max() {
  height: auto;
  flex: 1 1 100%;
  grid-column: 1/-1;
}

@mixin row-3-impicit() {
  grid-template-rows: ($base * 4) ($base * 3 * 2) ($base * 4);
}

.master-grid {
  @include grid-col(12);

  @media (min-width: map-get($map: $breakpoint, $key: "md")) {
    @include row-3-impicit();
  }
}
