footer{
	box-shadow: 0px -8px 16px -10px rgba(0, 0, 0, 0.75);
	position: relative;
	z-index: 2;

	div.container{
		padding:0 ($spacer);
		ul#menu-footer-menu{
			max-height: 100px;
			overflow: hidden;
			padding: 1rem 0;
			
			li{
				flex: 0 1 100px;
				margin: 0 $spacer;
				a{
					img{
						max-width: 100%;
						max-height: 100%;
					}
				}
			}
		}
	}
}