header.banner{
	
	.splash-content{
		max-width: 100%;
		overflow: hidden;
		background-size:cover!important; // done because the declare cannot be added.
		background-color:#172548 !important;
		background-repeat: no-repeat !important;
		
		@media(orientation:portrait){
			@media(min-width:595px){
				padding: 20vh 0 ;
			}

			@media(min-width:735px){
				padding: 20vh 0;
			}
		}
		@media(min-width:1195px){
			padding: 5vh 0 ;
		}
		&.custom-flex{
			flex:1 0 auto;
			@media(min-width:595px){
				flex: 0 1 350px;
			}
			@media(min-width: 995px){
				flex: 0 1 40%;
			}
		}
		
		h1{
			margin-top:($spacer * 2);
			@media(min-width: 995px){
				margin-top:($spacer * 5);
				padding: ($spacer * 2) 0;
			}
			
			a{
				width:30%;

				img{
					max-width: 100%;
				}
			}
		}

		h2{
			p{
				flex: 0 1 460px;
				padding: ($spacer * 2) ($spacer * 2);
				font-family: "WorkSans";
				font-size:1em;
				@media(min-width:450px){
				font-size:1.2em;
				}
				
				@media(min-width:995px){
				font-size:1.6em;
				}
				font-weight: 600;
				line-height: 1.3em;
				color:$white;
				filter:$drop-shadow;
			}
		}

		.research {
			margin-bottom:$spacer;
			@media(min-width: 995px){margin: ($spacer * 2) 0 ($spacer * 3) 0;}
			h3{
				font-family: "WorkSans";
				font-weight: 800;
				color:white;
				text-transform: uppercase;
				text-align: center;
				font-size:0.95em;
				@media(min-width:450px){
					font-size:1em;
				}
				@media(min-width:995px){
				font-size: 1.4em;
				}
				filter:$drop-shadow;
			}

			.buttons{
				a{
					flex: 0 1 20%;
					background-color:$alt-primary;
					padding: 0 ($spacer * 1);
					margin: ($spacer) ($spacer * 0.5);
					filter:drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.6));;
					&:nth-of-type(2){
						background-color:$alt-secondary;
					}
					img{
						max-width:100%;
					}
				}
			}
		}
	}
	.main-image{
		background-size:cover;
		background-position: 60% 50%;
		display: none;
		@media(min-width:595px){
			display: block;
			background-position-x: 60%
		}

		@media(min-width:735px){
			background-position-x:75%;
		}

		@media(min-width:995px){
			background-position-x:100%;
		}
	}
}