.header-background {
  grid-row: 1/4;
  padding: $base * 3;
  z-index: 1;

  @include size-max();

  background: linear-gradient(
    180deg,
    map-get($gradient, "start"),
    map-get($gradient, "end")
  );

  @media (min-width: map-get($map: $breakpoint, $key: "md")) {
    background: transparent;
  }
}

//@todo fix the centering on mobile
.image-background {
  overflow: hidden;
  grid-row-start: 4;
  grid-row-end: 5;
  z-index: 1;

  @include size-max();

  @media (min-width: map-get($map: $breakpoint, $key: "md")) {
    grid-row-start: 1;
    grid-row-end: 4;
    background: $brand-alt;
  }

  picture {
    position: relative;
    overflow: hidden;
    max-height: 400px;

    img {
      position: absolute;
      width: 100vw;
      height: auto;

      @media (min-width: map-get($map: $breakpoint, $key: "md")) {
        opacity: 0.1;
        // top: 50vh;
        max-height: auto;
      }
    }
  }

  @media (min-width: map-get($map: $breakpoint, $key: "md")) {
    ::before {
      grid-column: 1/-1;
      grid-row: 1/2;
      // background: $brand-alt;
    }
  }
}
