@mixin size-content() {
  margin: 0 auto;
  flex: 0 1 80%;
  grid-column: 2/-2;

  @media (min-width: map-get($map: $breakpoint, $key: "md")) {
    flex: 0 1 50%;
    grid-column: 3 / -3;
  }

  @supports (grid-column: 1/-1) {
    margin: 0 0;
  }
}

@mixin sr-only() {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

@mixin mobile-only() {
  @media (min-width: map-get($map: $breakpoint, $key: "md")) {
    display: none !important;
  }
}

@mixin font-weight($weight) {
  font-weight: $weight;

  @supports (-webkit-overflow-scrolling: touch) and (-moz-border-radius: 2em) {
    font-weight: $weight - 200;
  }
}

@mixin content-background() {
  background: $white-o;
  border-top: solid $base $brand-primary;
  padding: $base * 2;
}

.mobile-collapsed {
  @include sr-only();
}

// @mixin tagline-set-color() {
//   &:nth-of-type(3n + 1) {
//     .tagline {
//       background-color: $brand-secondary;
//       color: $white;
//     }
//   }

//   &:nth-of-type(3n + 2) {
//     .tagline {
//       background-color: $brand-primary;
//       color: $white;
//     }
//   }

//   &:nth-of-type(3n + 3) {
//     .tagline {
//       background-color: $brand-dark;
//       color: $white;
//     }
//   }
// }
main,
header {
  img {
    max-width: 100%;
  }
}

main,
main > section,
div.background-header,
div.background-image,
header.brand {
  @include grid-inherit();
  @include size-max();
}
