// $spacer: $base;

// $spacers: map-merge(
//   (
//     0: 0,
//     1: ($spacer *  1),
//     2: ($spacer * 1.5),
//     3: ($spacer * 2),
//     4: ($spacer * 2.5),
//     5: ($spacer * 3)
//   ),
//   $spacers
// );

// $sizes: () !default;
// $sizes: map-merge((25: 25%, 50: 50%, 75: 75%, 100: 100%, auto: auto), $sizes);

// @each $prop, $abbrev in (margin: m, padding: p) {
//   @each $size, $length in $spacers {
//     .#{$abbrev}#{$infix}-#{$size} {
//       #{$prop}: $length !important;
//     }

//     .#{$abbrev}t#{$infix}-#{$size},
//     .#{$abbrev}y#{$infix}-#{$size} {
//       #{$prop}-top: $length !important;
//     }

//     .#{$abbrev}r#{$infix}-#{$size},
//     .#{$abbrev}x#{$infix}-#{$size} {
//       #{$prop}-right: $length !important;
//     }

//     .#{$abbrev}b#{$infix}-#{$size},
//     .#{$abbrev}y#{$infix}-#{$size} {
//       #{$prop}-bottom: $length !important;
//     }

//     .#{$abbrev}l#{$infix}-#{$size},
//     .#{$abbrev}x#{$infix}-#{$size} {
//       #{$prop}-left: $length !important;
//     }
//   }
// }
