$base: 1rem;
$baseFont: "Work Sans", sans-serif;
$secondaryFont: $baseFont;

p,
h1,
h3,
h3,
h4,
h5,
div,
ul,
li,
aside,
caption,
textarea,
input {
  font-family: $baseFont;
  color: $text-r;
  box-sizing: border-box;
  font-size: $base;
  line-height: $base * 1.5;
}

h5 {
  $header: $base + 0.1rem;

  font-size: $header;
  font-weight: 600;
  font-family: $secondaryFont;
  color: $text-r;
  line-height: $header * 1.5;
}

h4 {
  $header: $base + 0.2rem;

  font-size: $header;
  font-weight: 600;
  font-family: $secondaryFont;
  color: $text-r;
  line-height: $header * 1.5;
}

h3 {
  $header: $base + 0.3rem;

  font-size: $header;
  font-weight: 600;
  font-family: $secondaryFont;
  color: $text-r;
  line-height: $header * 1.5;
}

h2 {
  $header: $base + 0.5rem;

  font-size: $header;
  font-weight: 600;
  font-family: $secondaryFont;
  color: $text-r;
  line-height: $header * 1.5;
  letter-spacing: 1px;
}

h1 {
  $header: $base + 0.75rem;

  font-size: $header;
  font-weight: 600;
  font-family: $secondaryFont;
  color: $text-r;
  line-height: $header * 1.5;
  letter-spacing: 1px;
}

p,
li,
td {
  color: inherit;
  font-size: $base;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: $base * 1.75;
}

aside {
  line-height: $base * 1.5;
  letter-spacing: 1.2px;
}

label {
  cursor: pointer;
}

textarea {
  line-height: $base * 1.2 !important;
}

a {
  text-decoration: none;
  color: $brand-secondary;
}

.extra-light {
  font-weight: 100;
}

.light {
  font-weight: 200;
}

.thin {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semi-bold {
  font-weight: 600;
}

.bold,
strong {
  font-weight: 700;
}

.black {
  font-weight: 900;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

// used to prevent breaking
.p-break {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;

  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;

  /* Instead use this non-standard one: */
  word-break: break-word;
}

///
