/** Colors */
$brand-primary: #03344c;
$brand-secondary: #1fbbee;
$brand-alt: #0789c6;
$text-r: #393e4f;
$white: #fff;
$white-o: #f7f7f7;

$gradient: (
  start: $brand-alt,
  end: $brand-secondary
);
$trans: transparentize($color: $brand-primary, $amount: 0.12);

/** Breakpoints */
$breakpoint: (
  xs: 400px,
  sm: 550px,
  md: 750px,
  lg: 950px,
  xl: 1150px,
  ds: 1350px,
  dl: 1550px,
  del: 1850px
) !default;

/* Gobal sizer */
$base: 1rem;
