/* Work Sans */

@font-face {
	font-family: 'WorkSans';
	src: url('../fonts/WorkSans-ExtraLight.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'WorkSans';
	src: url('../fonts/WorkSans-Thin.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'WorkSans';
	src: url('../fonts/WorkSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'WorkSans';
	src: url('../fonts/WorkSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'WorkSans';
	src: url('../fonts/WorkSans-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'WorkSans';
	src: url('../fonts/WorkSans-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'WorkSans';
	src: url('../fonts/WorkSans-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
$workSans: 'WorkSans', sans-serif !important;