// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$spacer: 								1rem;
$gutter: 								$spacer;

$white: 							#fff;
$black: 							#000;
$brand-primary:				#3093aa;
$brand-secondary:			#21a3bd;
$alt-primary:					#00d0af;
$alt-secondary:				#486db8;

$drop-shadow: 				drop-shadow(1px 0px 3px rgba(0, 0, 0, 0.6));