footer {
  grid-row-start: 11;
  z-index: 2;
  background-color: $brand-primary;
  color: $white;

  @include size-max();

  nav {
    @include grid-inherit();

    ul {
      @include size-content();

      display: flex;
      flex-direction: column;
      align-items: center;

      @media (min-width: map-get($map: $breakpoint, $key: "lg")) {
        flex-direction: row;
        justify-content: center;

        li {
          margin: 0 $base;
        }
      }
    }
  }

  ul a {
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
  }

  nav {
    padding: ($base * 2) 0;
  }

  section.credit {
    padding-bottom: $base * 2;

    @include size-max();
    @include grid-inherit();

    p {
      @include size-content();

      text-align: center;
      font-size: $base / 1.5;
    }
  }
}
