header.brand {
  @include size-max();

  position: relative;
  grid-row: 4/5;
  z-index: 2;
  background-color: $trans;

  @media (min-width: map-get($map: $breakpoint, $key: "md")) {
    grid-column: 1/3;
    grid-row: 2/3;
    background: transparent;
  }

  // overflow: hidden;

  a {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: ($base * 2) 0;

    @include size-max();

    img {
      // max-height: 100%;
      flex: 0 1 250px;
      height: 250px;
      align-self: flex-start;
      padding: $base * 2;

      @media (min-width: map-get($map: $breakpoint, $key: "md")) {
        padding: 0;
        height: auto;
        flex: 0 0 150px;
        margin-left: $base * 8;
        // align-self: center;
      }

      @media (min-width: map-get($map: $breakpoint, $key: "lg")) {
        margin-left: $base * 4;
      }

      @media (min-width: map-get($map: $breakpoint, $key: "ds")) {
        margin-left: $base * 2;
      }
    }
  }
}
