// Page headers
section.page-header {
  background-color: $brand-primary;

  h2 {
    @include size-content();

    padding: ($base * 2);
    color: $white;
    text-align: center;
    font-size: $base * 1.2;
    line-height: ($base * 1.7);

    // &::first-line {
    //   color: $brand-alt;
    // }
  }
}

main {
  grid-row-start: 6;
  grid-row-end: 7;
  z-index: 2;
}

//Hide home button on home page
body.home.page {
  .home-hidden {
    @include sr-only();
  }

  @media (min-width: map-get($map: $breakpoint, $key: "md")) {
    .master-grid {
      &::before {
        content: "";
        grid-column: 1/-1;
        grid-row: 1/7;
        z-index: 2;
        background: transparent;
        border: lighten($brand-alt, 20%) ($base * 2) solid;
        border-bottom: 0;
      }
    }

    .image-background {
      grid-row: 1/7;

      picture {
        top: 0;

        img {
          width: 100vw;
          height: auto;
        }
      }
    }

    header.brand {
      padding-top: $base/2;
      display: flex;
      background: $trans;
      grid-row: 1/4;
      grid-column: 1/6;

      a {
        justify-content: space-around;

        img {
          margin: 0;
        }
      }
    }

    header.brand,
    section.feed-preview {
      // background-color: rgba(3, 52, 76, 0.7);
    }

    section.page-header {
      grid-column: 1/7;

      h2 {
        text-align: left;

        @media (min-width: map-get($map: $breakpoint, $key: "md")) {
          padding-left: $base * 1;
        }

        @media (min-width: map-get($map: $breakpoint, $key: "ds")) {
          padding-left: $base * 2;
        }

        @media (min-width: map-get($map: $breakpoint, $key: "dl")) {
          padding-left: $base * 3;
        }
      }
    }

    section.feed-news {
      grid-column: 1/6;
    }
  }
}

body:not(.home) {
  .home-show {
    @include sr-only();
  }
}

body:not(.home) {
  @media (min-width: map-get($map: $breakpoint, $key: "md")) {
    header.brand a {
      padding: 0;
    }

    .master-grid {
      &::before {
        content: "";
        grid-column: 1/-1;
        grid-row: 1/4;
        z-index: 2;
        background: transparent;
        border: lighten($brand-alt, 20%) ($base * 2) solid;
        border-bottom: 0;
      }
    }

    .image-background {
      picture {
        // top: -75vh;

        img {
          width: 100vw;
          height: auto;

          @media (min-width: map-get($map: $breakpoint, $key: "md")) {
            top: 50vh;
          }
        }

        @media (min-width: map-get($map: $breakpoint, $key: "md")) {
          opacity: 0.1;
          max-height: auto;
        }
      }
    }
  }
}

body.post-type-archive-tribe_events {
  #tribe-events-pg-template {
    @include size-content();
  }
}

body.blog {
  section.news-wrapper {
    @include size-content();
  }
}

body.downloads {
  .donwloads {
    @include grid-inherit();

    padding: ($base * 2) 0;

    h2,
    #download-page {
      @include size-content();
    }

    #download-page #download-search {
      background: $white-o;
      box-shadow: none;
      border: none;
      border-radius: 0;
      margin-top: $base;

      input {
        background: 0;
        border: none;
        border-bottom: 1px dashed #b9b9b9;
        box-shadow: none;
        font-style: italic;
        padding: $base/4;
      }
    }

    #download-page .download_category {
      width: 100%;
      box-shadow: none;

      @media (min-width: map-get($map: $breakpoint, $key: "md")) {
        width: 48%;
      }

      h3 {
        background: $brand-primary;

        a {
          color: $white;
        }
      }
    }
  }
}
// calendar fix
.tribe-events-calendar div[id*="tribe-events-daynum-"] {
  color: rgba(69, 69, 69, 0.8) !important;
}
