// news archive
body.blog {
  .news-wrapper {
    @include grid-inherit();

    grid-gap: $base;
    padding-top: $base * 2;

    @media (min-width: map-get($map: $breakpoint, $key: "md")) {
      grid-column: 1/-1;
      grid-gap: $base * 2;
      padding: $base * 2;
      padding-bottom: 0;
    }

    h2,
    article,
    nav {
      @include size-content();

      @media (min-width: map-get($map: $breakpoint, $key: "md")) {
        @include size-max();
      }
    }

    article {
      @include content-background();

      @media (min-width: map-get($map: $breakpoint, $key: "xl")) {
        grid-column: span 6;
      }

      header {
        margin-bottom: $base;

        h2 a {
          color: $brand-primary;
          text-decoration: none;
        }
      }
    }

    h2 {
      align-self: flex-start;
    }

    .load-more {
      @include size-max();

      display: flex;
      justify-content: center;
      align-items: flex-start;
    }

    p.notice,
    div.load-more {
      order: 99;
    }
  }
}

// single news post
body.single-post {
  main {
    @include grid-inherit();

    article {
      @include size-content();

      margin-top: $base !important;

      header {
        margin-bottom: $base;
      }

      .entry-content {
        h2,
        h3 {
          margin-bottom: $base / 2;
          margin-top: $base * 2;
        }

        p,
        ul,
        ol {
          margin-bottom: $base;
        }

        ul {
          list-style-type: disc;
          list-style-position: inside;
          margin-left: $base;
        }

        ol {
          list-style-type: decimal;
          list-style-position: inside;
          margin-left: $base;
        }
      }
    }
  }
}
