// Globals
nav.nav-direction,
nav.social {
  z-index: 2;
  grid-row: 1/4;
  align-items: center;
}

//nav direction
nav.nav-direction {
  z-index: 8;
  grid-column: 8/-1;
  display: flex;
  background: $brand-primary;
  padding: ($base / 2);
  justify-content: center;
  align-self: center;

  @media (min-width: map-get($map: $breakpoint, $key: "md")) {
    grid-column: -4/-1;
  }

  @media (min-width: map-get($map: $breakpoint, $key: "lg")) {
    grid-column: -3/-1;
  }

  @media (min-width: map-get($map: $breakpoint, $key: "dl")) {
    grid-column: -2 / -1;
  }

  a,
  #mobile-nav {
    text-decoration: none;
    text-transform: uppercase;
    color: $white;
    margin: 0 ($base/2);
    z-index: 8;
    transition: 0.3s;

    &:hover {
      color: transparentize($color: $white, $amount: 0.4);
    }

    &.home-show,
    &.home-hidden {
      @include font-weight(700);
    }
  }

  & > section#mobile-nav {
    $width: 20px; // width of the mobile icon

    flex: 0 1 $width;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    //@include mobile-only();

    span {
      width: $width;
      height: 2px;
      background-color: $white;
      opacity: 1;
      display: block;
      margin: 2px 0;
      transition: all 0.3s ease-in-out;
      z-index: 2;
    }

    &:hover span {
      background-color: transparentize($color: $white, $amount: 0.4);
    }

    &.is-active {
      transition: all 0.3s ease-in-out;
      transition-delay: 0.6s;
      transform: rotate(-45deg) translate(0, -3px);
    }

    &.is-active span:nth-child(2) {
      width: 0;
    }

    &.is-active span:nth-child(1),
    &.is-active span:nth-child(3) {
      transition-delay: 0.3s;
    }

    &.is-active span:nth-child(1) {
      transform: translateY(9px);
    }

    &.is-active span:nth-child(3) {
      transform: translateY(-3px) rotate(-90deg);
    }

    &:hover {
      cursor: pointer;
    }
  }
}

nav.social {
  grid-column: 2 / calc(-2 - 7);
  display: flex;
  flex-direction: row;
  z-index: 2;

  @media (min-width: map-get($map: $breakpoint, $key: "md")) {
    justify-content: flex-end;
    margin-right: ($base / 2);
    grid-column: -6/-4;
  }

  @media (min-width: map-get($map: $breakpoint, $key: "lg")) {
    grid-column: -5/-3;
  }

  @media (min-width: map-get($map: $breakpoint, $key: "dl")) {
    grid-column: -4/-2;
    // justify-content: flex-start;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    li {
      margin: 0 ($base / 2);

      a:not(:hover) span,
      a:hover span {
        // We use this important to overide lib inline
        fill: $white !important;
        transition: 0.3s;
      }

      a:hover span {
        opacity: 0.75;
      }
    }
  }
}

// primary nav
//@todo handle placement of mobile nav.
nav#nav-primary {
  grid-row: 1/7;
  grid-column: 1/-1;
  display: flex;
  z-index: 0;
  align-items: flex-start;
  justify-content: center;

  &:not(.on) {
    display: none;
  }

  &.on {
    z-index: 5;
    background-color: $trans;
    transition: 1s;

    @media (min-width: map-get($map: $breakpoint, $key: "md")) {
      .home-icon {
        display: block;
      }
    }
  }

  ul {
    @include size-content();
    @include grid-col(3);

    margin-top: (($base * 4) * 2) + ($base * 3 * 2) !important;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    grid-gap: $base;

    @media (min-width: map-get($map: $breakpoint, $key: "md")) {
      grid-template-rows: 100px 100px 100px;
      grid-template-columns: 100px 100px 100px;
    }

    li {
      flex: 0 1 100%;
      grid-column: span 1;
      font-size: $base * 1.75;
      text-align: center;

      &.home-icon {
        display: none;

        @media (min-width: map-get($map: $breakpoint, $key: "md")) {
          grid-area: 2 / 2 / 3 / 3;
        }

        a {
          display: flex;
          flex-direction: column;

          img {
            max-width: 100%;
          }
        }
      }

      @media (min-width: map-get($map: $breakpoint, $key: "md")) {
        flex: 0 1 45%;

        &:first-of-type {
          grid-area: 1/ 1 / 2 / 4;
          align-self: flex-end;
        }

        &:nth-of-type(2) {
          grid-area: 2/ 1 /3 / 2;
        }

        &:nth-of-type(3) {
          grid-area: 2 / 3 / 3 / 4;
        }

        &:nth-of-type(4) {
          align-self: flex-start;
          grid-area: 3 / 1 / 4 / 4;
        }
      }

      a {
        color: $white;

        &:hover {
          transition: 0.4s;
          color: transparentize($color: $white, $amount: 0.4);
        }
      }
    }
  }
}
